.build/
.test/
.dist/
.git/
.svn/
.dts/
.metadata/
.reports/
.idea/
.recommenders/
.settings/
coverage/
classes/
node_modules/
bin/
scss/
src/
hbs/
typings/
/**/src/ts/**/*.ts
*.class
*.war
*.swf
*.log
*.iml
.DS_Store
.project
.classpath
.tsconfig.json
.tomcatplugin
gulpfile.js
tsconfig.json
typings.json
index.ts
tslint.json
webpack.*.js
test-results.xml
